*{
    font-family: 'Courier New', Courier, monospace;
}

#boton{
    display: block;
    padding: 20px;
    background-color: green;
    color: white;
    width: 200px;
    text-align: center;
    font-weight: bold;
    border: 2px solid black;
    text-decoration: none;
    transition: border 500ms, background 1s, border-radius 1s;
}

#boton:hover{
    background-color: orangered;
    border-radius: 10px;
    color: black;
}

#caja{
    margin-top: 10px;
    width: 250px;
    height: 250px;
    background-color: blue;
    color: white;
    border: 5px solid black;
    font-size: 20px;
    line-height: 200px;
    text-align: center;
    animation-name: desplazamiento; /* nombre de la animación */
    animation-duration: 10s; /* 10s: duración de la animación */
    animation-iteration-count: infinite; /*  infinite: la animación se repite infinitamente */
    animation-timing-function: linear; /* linear: la animación se desarrolla a una velocidad constante */
   /*  animation-direction: alternate;  Alterna entre el inicio y el final de la animación 
   Dicho de otras palabras, si va de izquierda a derecha hace que vaya de derecha a izquierda*/
}

@keyframes desplazamiento{ /* nombre de la animación */
    0%{
     margin-left:0px;
     transform: rotate(0deg);
    }
    50%{
     margin-left: 100%;
     transform: rotate(360deg);
     border-radius: 999px;
    }
    75%{
        background:red;
    }
    77%{
        border: 10px dashed blue; 
    }
    100%{
     margin-left: 0px;
   
     transform: rotate(0deg);
    }
}